body{
    margin:0;
    background-image: url("lauren-sauder-6GPBVYLapYQ-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height:100vh;
}
.lis{
    display:flex;
    max-width:150vh;
    min-height:15vh;
    background-color:rgb(211,211,211,0.2);
    margin:1.5vh;
    border-radius:20px;
    justify-content:space-around;

}
.tasks{
    max-width:145vh;
    background-color:rgb(211,211,211,0.8);
    justify-content:space-between;
    margin:20px;                 
    border-radius:20px;
}
input{
    border-radius:20px;
    width:95vh;
    height:8vh;
    margin: 20px;
    font-size: 25px;
    padding-left: 10px;


}
.btn{
    background-color: orangered;
    color:white;
    border-radius: 20px;
    width:15vh;
    border: none;
    height:8.3vh;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}
